
<!-- Cabeçalho da Janela -->
<div class="row" id="cabPag">
    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
        <h1 style="text-align: center">Login</h1>
    </div>
</div>

<div class="container col-xs-12 col-lg-12 col-md-12 col-sm-12" style="margin-top: 10px;">
    <div class="row">
        <!-- Formulário -->
        <form role="form" method="POST" id="form_login">
            
 

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        </style>
                            <label for="username">
                               Usuário
                        </label>
                        <input type="text" ng-model="pessoa.username" class="form-control" id="username" placeholder="Usuário"/>  
                    </div>
                </div> 
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="senha">
                            Senha
                        </label>
                        <input type="password" ng-model="pessoa.senha" class="form-control" id="senha" placeholder="Senha"/>
                    </div>
                </div>
            </div>
            <!-- Botões -->
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button type="button" ng-click="login(pessoa)" class="btn btn-success"><span class="btn-success"></span>Entrar</button>
                    </div>
                </div>
            </div>

        </form>


    </div>
</div>