
<div class="row" ng-hide="informacoes">
    <!-- Cabeçalho da Janela -->
    <div class="row" id="cabPag">
        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
            <h1 style="text-align: center">Leilões Abertos</h1>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form style="padding-top: 10px;">
            <div class="form-inline">
                <input type="text" class="form-control" ng-model="pesquisa" />
                <a ng-hide="!showMenu" class="btn btn-default" href="#/leilao-novo" role="button"><span class="glyphicon glyphicon-pencil"></span> Novo...</a>
            </div>
        </form>		
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <table class="table table-striped table-hover" ng-init="listarAbertos()">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Descrição</th>
                    <th>Termina em</th>
                    <th>Ação</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in lista | filter: pesquisa">
                    <td>{{opCategorias.find(value.categoria).text}}</td>
                    <td>{{value.descricao}}</td>
                    <td>
                       <!-- <input type="text" ng-model="leilao.dataHoraFinal" class="form-control" id="data_limite" readonly="true"/>  -->                      
                        {{value.dataHoraFinal}}</td>
                    
                     <th>
                        <button type="button" ng-click="setInfo(value)" class="btn btn-sm btn-primary" alt="Editar" title="Editar">
                            <span class="glyphicon glyphicon-plus-sign"></span> MAIS
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" ng-show="informacoes">
    <div class="row" id="cabPag">
        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
            <h1 style="text-align: center">Leilões Abertos</h1>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form role="form" style="padding-top: 10px;">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="categoria">
                            Categoria
                        </label>
                        <select ng-model="leilao.categoria" class="form-control" id="categoria" disabled>
                            <option ng-repeat="cat in opCategorias" ng-selected="leilao.categoria == cat.value" value="{{cat.value}}">{{cat.text}}</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <label for="data_exec">
                            Data de Inicio
                        </label>
                        <input type="text" ng-model="leilao.dataHoraInicio" class="form-control" id="data_exec" readonly="true"/>                        
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <label for="data_exec">
                            Data da Execução
                        </label>
                        <input type="text" ng-model="leilao.dataHoraExecucao" class="form-control" id="data_exec" readonly="true"/>                        
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <label for="data_limite">
                            Data Limite dos Lances
                        </label>
                        <input type="text" ng-model="leilao.dataHoraFinal" class="form-control" id="data_limite" readonly="true"/>                        
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="descricao">
                            Descrição do Serviço
                        </label>
                        <textarea ng-model="leilao.descricao" class="form-control" rows="5" id="descServ" readonly="true"></textarea>
                    </div>
                </div>
            </div>


            <div class="form-group">
                 
                    <hr size=4>
               <b>Endereço</b><br>
                <div class="row">
                    <div class=" col-lg-4 col-md-6 col-sm-4 col-xs-4">
                        <label for="end_rua">
                            Logradouro
                        </label>
                        <input type="text" ng-model="leilao.endereco.logradouro" class="form-control" id="end_rua" placeholder="Ex.: Rua Exemplo" readonly/>
                    </div>
                   <div class=" col-lg-4 col-md-6 col-sm-4 col-xs-4">
                        <label for="end_rua">
                            Numero
                        </label>
                        <input type="text" ng-model="leilao.endereco.numero" class="form-control" id="end_rua" placeholder="Ex.: xxx" readonly/>
                    </div>
                   <div class=" col-lg-4 col-md-6 col-sm-4 col-xs-4">
                        <label for="end_rua">
                            Complemento
                        </label>
                        <input type="text" ng-model="leilao.endereco.complemento" class="form-control" id="end_rua" placeholder="Ex.: AP XX" readonly/>
                    </div>
                   <div class=" col-lg-4 col-md-6 col-sm-4 col-xs-4">
                        <label for="end_rua">
                            Cidade
                        </label>
                        <input type="text" ng-model="leilao.endereco.cidade" class="form-control" id="end_rua" placeholder="Ex.: São Paulo" readonly/>
                    </div>
                  <div class=" col-lg-4 col-md-6 col-sm-4 col-xs-4">
                        <label for="end_rua">
                            UF
                        </label>
                        <input type="text" ng-model="leilao.endereco.uf" class="form-control" id="end_rua" placeholder="Ex.: SP" readonly/>
                    </div>
                 <div class=" col-lg-4 col-md-6 col-sm-4 col-xs-4">
                        <label for="end_rua">
                            CEP
                        </label>
                        <input type="text" ng-model="leilao.endereco.cep" class="form-control" id="end_rua" placeholder="Ex.: 000.000-00" readonly/>
                    </div>
                    
                        <div class=" col-lg-4 col-md-6 col-sm-12 col-xs-12">
                       <hr size=4>
                           </div>
                   <div class=" col-lg-4 col-md-6 col-sm-4 col-xs-4">
                     
                        <label for="end_rua">
                            
                            Observação
                        </label>
                        <input type="text" ng-model="leilao.endereco.Observacao" class="form-control" id="end_rua" placeholder="Ex.: Deve ter tal coisa" readonly/>
                    </div>

                </div>
            </div>
        </form>
        <div class="row" ng-hide="campoLance">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button type="button" ng-click="removeInfo()" class="btn btn-warning"><span class="glyphicon glyphicon-menu-left"></span> Voltar</button>
                <button ng-hide="!showMenu" type="button" ng-click="setInfoLance()"class="btn btn-success"><span class="glyphicon glyphicon-bitcoin"></span> Dar um lance</button>
            </div>
        </div>
        <div class="row" ng-show="campoLance" >
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form role="form" method="POST">

                    <label for="valor_lance">
                        Informe o valor do Lance
                    </label>
                    <input type="text" ng-model="lance.valor" class="form-control" id="valor_lance" placeholder="Ex.: 300,00"/>
                </form>
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:10px;">
                <button type="button" ng-click="removeInfo()" class="btn btn-warning"><span class="glyphicon glyphicon-menu-left"></span> Voltar</button>
                <button type="button" ng-click="cadastrarLance(lance, leilao)" class="btn btn-success"><span class="glyphicon glyphicon-save"></span> Salvar Lance</button>
            </div>
        </div>

    </div>
</div>